/**** R E S E T  start****/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
::placeholder {
  color: unset;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
/**** R E S E T  end****/
/***
    
### Primary

- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)

## Typography

### Headings


font-family: 'Poppins', sans-serif;

### Body

font-family: 'Open Sans', sans-serif;
**/

body {
  max-width: 375px;
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.container {
  padding: 2rem;
}
header {
  margin-bottom: 3rem;
  text-align: start;
}
header img {
  width: clamp(30vh, 20vw, 25vw);
}
.main-img {
  margin-bottom: 3rem;
}
.info h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  font-size: clamp(1.5rem, 1.5rem, 2rem);
  margin-bottom: 1rem;
}
.info p {
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.2px;
  margin-bottom: 2rem;
}
a {
  background-color: hsl(0, 0%, 100%);
  color: hsl(257, 40%, 49%);
  padding: 0.5rem 4.5rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  box-shadow: 0px 12px 24px -4px rgba(0,0,0,0.2);
}
a:hover{
  background-color: hsl(300, 69%, 71%);
  color: hsl(0, 0%, 100%);
}
footer {
  margin-top: 4rem;
}
footer ul {
  display: flex;
  justify-content: center;
  align-self: center;

}
li {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 0.5rem;
    height: 42px;
    margin: 0rem 0.5rem;
    fill: hsl(0, 0%, 100%);
}
li:hover{
  border: 1px solid hsl(300, 69%, 71%);
  fill: hsl(300, 69%, 71%);
}
li svg{
  width: 24px;
  height: 24px;
}

@media (min-width: 377px){
  body{
    background-image: url(../images/bg-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
}
@media (min-width: 800px){
  .logo{
    grid-area: a;
    margin-bottom: auto;
  }
  .main-img{
    margin-top: 3rem;
    grid-area: b;
  }
  .info{
    margin-top: 10rem;
    grid-area: c;
    text-align: start;
  }
  footer{
    grid-area: d;
    margin-top: auto;
    padding-bottom: 3rem;
  }
 .container{
   max-width: 1440px;
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(1fr 2fr 2fr 1fr);
   grid-template-areas: 
   "a . . ."
   "b b c c"
   "b b c c"
   ". . . d";
  }


}


